# Default owners for everything
* @drizki

# Backend
/apps/backend/ @drizki
/packages/shared/ @drizki
/packages/storage/ @drizki

# Frontend
/apps/frontend/ @drizki

# Worker
/apps/worker/ @drizki

# DevOps
/docker/ @drizki
/.github/ @drizki
/docker-compose*.yml @drizki
